<div class="container min-vh-100" style="padding-top: 40px;">
    <h1>Welcome, <%= current_user.first_name %>!</h1>
    <a href="/decks/new"><button type="button" class="btn btn-dark btn-lg">Create a Deck</button></a>
    
    <% if @decks.nil? %>
        <h2 style="padding-top: 1rem;">No Decks :(</h2>
    <% else %>
        <% @decks.each do |deck| %>
            <div class="accordion" id="deckAccordian" style="padding-top: 1rem;">
                <div class="card">
                    <div class="card-header" id="heading">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <%= deck.name %>
                        </button>
                    </h2>
                    </div>

                    <div id="collapse" class="collapse show" aria-labelledby="heading" data-parent="#deckAccordian">
                    <div class="card-body list-group">
                        <a href="#" class="list-group-item list-group-item-action"><%= deck.cards.name %></a>
                    </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>

</div>