<div id="slides" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/index_cards.jpg" class="d-block w-100 h-75" alt="Index Cards">
      <div class="black-overlay"></div>
      <div class="carousel-caption carousel-cap-padding">
        <h1 class="display-2">InDecks</h1>
        <h3 class="caption-description">Digital index cards to organize your life.</h3>
        <a href="/signup"><button type="button" class="btn btn-outline-light btn-lg landing-page-btn">Sign up</button></a>
        <a href="/signin"><button type="button" class="btn btn-outline-light btn-lg">Sign in</button></a>
      </div>
    </div>
  </div>
  </a>
</div>